<div>
    <div class="row">
        <span>Calculation date:&nbsp;</span>
        <mat-form-field>
            <label>
                <input
                    matInput
                    [matDatepicker]="getEmployeeDate"
                    placeholder="Choose a date"
                    [formControl]="dateControl">
            </label>
            <mat-datepicker-toggle matSuffix [for]="getEmployeeDate"></mat-datepicker-toggle>
            <mat-datepicker #getEmployeeDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <h4>List of employees on date {{ dateControl.value?.toDateString() }}</h4>
        <ul>
            <li *ngFor="let employeeItem of employees">
                <app-employee [employee]="employeeItem" [date]="dateControl.value"></app-employee>
            </li>
        </ul>
    </div>
    <div class="row">
        <button (click)="add()">Add employee</button>
        <button (click)="get()">Update list</button>
    </div>
</div>