<div class="row">
    <div>
        <label for="salaryDate">
            Company salary sum for "{{ dateControl.value.toDateString() }}" is {{ salary }}
        </label>
        <div>
            <mat-form-field>
                <input
                        matInput
                        [matDatepicker]="salaryDate"
                        placeholder="Choose a date"
                        [formControl]="dateControl"
                        id="salaryDate"
                        (dateChange)="get()">
                <mat-datepicker-toggle matSuffix [for]="salaryDate"></mat-datepicker-toggle>
                <mat-datepicker #salaryDate></mat-datepicker>
            </mat-form-field>
        </div>
        <button (click)="get()" type="button" class="btn btn-outline-primary">Update salary</button>
    </div>
</div>