<div>
    <div class="caption">
        <h4>{{ workerType.value }}</h4>
        <p>Salary modifications:</p>
        <ul>
            <li>Bonus for experience {{workerType.salaryRatio.experienceBonus * 100}}%</li>
            <li>Maximum of bonus for
                experience {{workerType.salaryRatio.experienceBonusMaximum * 100}}%
            </li>
            <li *ngIf="workerType.canHaveSubordinates">Bonus for
                subordinates {{workerType.salaryRatio.subordinateBonus * 100}}%
            </li>
        </ul>
    </div>
</div>